<form method="post" action="/bet">
  <label for="bet">You have <%= session[:chip_count] %> chips. Make Your bet:</label>
  <input id="bet" type="text" name="bet" />
  <br />
  <input type="submit" class="btn" />
</form>